.itemCard {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 0 20px;
}
.buttonBack {
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    background: var(--light);
    color: var(--dark);
}
.image {
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
}
.itemWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    border-radius: 15px;
    border: 1px solid var(--light);
    padding: 20px;
}

.itemWrapper > div {
    display: flex;
    gap: 20px;
}