:root {
  --dark: #111;
  --dark-middle:#282c34;

  --light: #d5d5d5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: -apple-system, 'Roboto', sans-serif;

  background: var(--dark-middle);
  color: var(--light);
}

.App {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 10px;
  margin: 50px auto;

  max-width: 800px;
  width: 100%;

  border: 1px solid var(--dark);
  border-radius: 15px;
}

.App-header {
  width: 100%;

  padding: 10px;

  text-align: center;
  font-size: 20px;
}

.App-footer {
  width: 100%;

  font-size: 14px;
  text-align: center;

  padding: 5px;
}

.image_container {
  padding-bottom: 30px;
  cursor: col-resize;
  max-width: 400px;
}
